.App
{
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1{
  margin: 0px;
}

.header{
  background-color: rgb(139, 138, 138);
  padding: 14px;
  /* width: 100px; */
}

.form{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  align-items: center;
}

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 100%;
  
}

.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: rgb(245, 104, 104);
  margin-top: 11px;
}